.filters{
    max-width: 1200px;
    margin: 50px auto;
    margin-left: 20px;
   

}

::ng-deep{
    .mat-form-field-infix{
        background-color: #fff; 
    }

    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
        color:#9c1c05 !important;
        opacity: 1;
        font-weight: 700;
    }

    .mat-form-field-infix{
     border-color: #9C1C05 !important;
     border-top: none;
     padding-left: 5px !important;
    
    }

}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}

.game{
    width:280px;
    margin:10px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #9c1c05;
    box-shadow: 4px 3px 8px 0px rgb(200 152 44);
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover{
        box-shadow: 4px 3px 11px 6px rgb(200 152 44);
        transform: translateY(-3px);
    }

    &-thumb-container{
        background-color: #fff;
        position: relative;
        height: 190px;
        color: #fff;
        text-align: center;
    }

    &-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 190px;
    }

    &-description{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 150px;
    }

    &-name{
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &-platforms{
        display: flex;
    }

    &-platform{
        width: 20px;
        
    }
}